<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da Criação da Pasta</title>
</head>
<body>
<h1>Resultado da Criação da Pasta</h1>
<p th:text="${message}"></p> <!-- Exibe a mensagem retornada do controlador -->
<br>
<a href="/createFolder">Criar outra pasta</a> <!-- Link para voltar ao formulário -->
<br>
<a href="/">Inicio</a> <!-- Link para voltar ao formulário -->
</body>
</html>